allow init camera_socket:sock_file relabelto;

allow init dnsresolver_service:service_manager find;
allow init ion_device:chr_file { ioctl open read write };
allow init mediaserver:fd use;
allow init modem_efs_partition_device:blk_file write;
allow init netd:binder call;
allow init netd_service:service_manager find;
allow init proc_last_kmsg:file setattr;
allow init qdsp_device:chr_file { ioctl open read };
allow init qmuxd_socket:sock_file write;
allow init root_block_device:blk_file { relabelto write };
allow init rpmb_device:blk_file write;
allow init rtc_device:chr_file { ioctl open read };
allow init self:netlink_generic_socket { bind create read write };
allow init self:netlink_kobject_uevent_socket { bind create getopt read setopt };
allow init self:netlink_route_socket { bind create nlmsg_read read setopt getattr };
allow init self:rawip_socket { bind create getopt read setopt };
allow init self:socket { bind create ioctl read write };
allow init self:tcp_socket { bind create ioctl read write };
allow init self:udp_socket { bind create ioctl read write };
allow init servicemanager:binder call;
allow init shell_exec:file execute_no_trans;
allow init smd_device:chr_file { ioctl open read write };
allow init ssd_device:blk_file write;
allow init sysfs:file { open read setattr };
allow init sysfs_devices_system_cpu:file write;
allow init sysfs_mpdecision:file { open read };
allow init sysfs_msm_perf:file { open read };
allow init sysfs_smd_open_timeout:file { open write };
allow init sysfs_uio:lnk_file read;
allow init sysfs_uio_file:file { open read };
allow init sysfs_wake_lock:file { append open };
allow init system_file:file { execute_no_trans relabelfrom };
allow init system_file:dir relabelfrom;
allow init tee_device:chr_file { ioctl open read write };
allow init uio_device:chr_file { open read write };
allow init video_device:chr_file { ioctl open read write };
allow init self:netlink_xfrm_socket { bind create getopt read setopt };
allow init gpu_device:chr_file { ioctl open read write };
allow init hal_graphics_allocator_default:fd use;
