
service ril-daemon2 /system/vendor/bin/hw/rild -c 2
    class main
    socket rild2 stream 660 root radio
    socket sap_uim_socket2 stream 660 bluetooth bluetooth
    socket rild-debug2 stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw diag log bluetooth
    disabled

service rild2-wrapper /system/bin/sh /system/vendor/bin/init.qcom.ril.sh
    class late_start
    user root
    group root
    oneshot

